/* Font Import */
@font-face {
  font-family: "Rockwell";
  src: local("Rockwell"),
   url("./fonts/ROCK.TTF") format("truetype");
  font-weight: normal;
  }

/* General */
* {
  font-family: 'Lato', Arial, sans-serif;
}

p {
  font-size: 1em;
}

.section-title {
  font-size: 2em;
}

.section-title, .problem-overview .stat-title {
  font-family: 'Rockwell';
}

/* App Header */
.app-header { 
  padding: 4.5em 0em;
}

.app-header .logo {
  width: 10em;
  margin: 0 auto;
  padding-bottom: 3em;
  transform: rotate(20deg);
}

.app-header .description {
  justify-content: center;
}

.app-header .title {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: .15em;
}

.app-header .title .underline {
  text-decoration: underline;
}

.app-header .title, .app-header p {
  text-align: center;
}

.app-header button {
  display:block;
  width: 50%;
  text-align: center;
}

.app-header .browser {
  display: none; 
  margin: 0 auto;
}

/* Problem Overview */
.problem-overview {
  background-color: #DAE1E4;
  padding: 3em 1em;
  text-align: center;
}

.problem-overview .stats {
  margin: 1em 0em;
}

.problem-overview .stat-title {
  font-size: 4em;
}

.value-proposition {
  background-color: #F5F1F1;
  padding: 3em 1em;
  text-align: center;
}

.value-proposition .value-proposition-img {
  width: 21em;
  
}

/* Our Workshops */

.our-workshop, .how-it-works {
  padding: 5em 0em;
}

.our-workshop h2 {
  text-align: center;
}

.our-workshop p {
  margin-top: .5em;
  text-align: center;
}

.our-workshop img {
  width: 50%;
  display: block;
  margin: 2em auto 0 auto;
}

/* How It Works */
.how-it-works {
  background-color: #DAE1E4;
  text-align: center;
}

.how-it-works h2 {
  padding: .25em 0em;
}

.how-it-works .card {
  height: 10em;
  width: 10em;
  margin: 0em 0em;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

/* Team Access */
.the-team {
  margin: 3em 0em;
}

.the-team h2 {
  text-align: center;
}

.the-team img {
  width: 15em;
  display: block;
  margin: 2em auto 0 auto;
}

.the-team p {
  font-size: 14px;
  color: grey;
  text-align: center;
}

/* Project Status*/
.project-status {
  padding: 5em 4em;
  background-color: #F5F1F1;
}

.project-status h2, .project-status p {
  text-align: center;
}

/* Website Link */
.enter-connecta {
  padding: 5em 0em;
}

.enter-connecta h2 {
  text-align: center;
}

.enter-connecta button {
  width:70%;
  display: block;
  margin: 1em auto;
}

/* Footer */
.footer p {
  text-align: center;
}

/* Mouse animation */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: auto;
	width: 24px;
	height: 100px;
	margin-top: 100px;
  justify-content: center;
  text-align: center;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid black;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* BUTTON CSS */
.button-74 {
  background-color: #F5F1F1;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.the-team img:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .app-header {
    padding: 5em 11em;
  }

  .app-header .logo {
    width: 13em;
    margin: 0 auto;
    transform: rotate(20deg);
  }

  .app-header .description {
    justify-content: center;
  }

  .app-header .title, .app-header p {
    text-align: center;
  }

  .app-header button {
    width: 70%;
  }

  /* Problem Overview */
  .problem-overview {
    padding: 5em 4em;
  }
  
  .problem-overview .overview {
    text-align: left;
  }

  .problem-overview .stats {
    text-align: right;
  }

  .problem-overview .stats {
    margin: 0 0;
  }

  .problem-overview .stat-title {
    font-size: 3.5em;
  }

  /* Value Proposition */
  .value-proposition {
    padding: 4em 4em;
    text-align: right;
  }
  
  /* Our Workshops */
  .our-workshop {
    padding: 3em 3em;
  }

  .our-workshop h2 {
    text-align: center;
  }

  .our-workshop img {
    width: 14em;
    margin: 0 auto;
  }

  /* How It Works */
  .how-it-works .card {
    height: 14em;
    width: 14em;
    margin: 1em auto;
  }

  .how-it-works .card-body {
    padding: 2em 1em;
    font-size: 20px;
  }

  /* Team Access */
  .the-team {
    padding: 0em 7em;
  }

  .the-team h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  .the-team img {
    width: 14em;
    display: block;
    margin: 0 auto;
  }

  /* Project Status*/
  .project-status {
    padding: 4em 7em;
  }
  
  /* Website Link */
  .enter-connecta button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 1.0em;
  }
  
  .section-title {
    font-size: 2.25em;
  }

  .app-header {
    padding: 3em 9em;
    padding-top: 5em;
  }


  .app-header .logo {
    width: 10em;
    margin: 0 auto;
    transform: rotate(20deg);
  }

  .app-header .browser {
    display: block;
    width: 100%;
    height: auto; 
  } 

  /* Problem Overview */
  .problem-overview {
    background-color: transparent;
    background-image: url('./img/problemstatement-background.png');
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    padding: 0em 7em;
    margin-top: -10em;
  }

  .problem-overview .overview, .problem-overview .stats {
    margin: 16em 0em;
  }

  /* Value Proposition */
  .value-proposition {
    background-color: transparent;
    background-image: url('./img/valueproposition-background.png');
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    padding: 0em 7em;
    top: -22em;
    margin-bottom: -20em;
  }

  .value-proposition .proposition {
    margin: 4em 0em;
    margin-top: 23em;
  }

  .value-proposition .value-proposition-img {
    margin: 4em 0em;
    margin-top: 16em;
    
  }

  /* Our Workshops */
  .our-workshop {
    padding: 0em 5em;
    margin-bottom: 3em;
    top: -30em;
  }

  .our-workshop img {
    width: 18em;
    height: 15em;
    object-fit: cover;
  }

  /* How it Works */
  
  .how-it-works {
    background-color: transparent;
    background-image: url('./img/howitworks-background.png');
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    padding: 6em 10em;
    text-align: left;
  }

  .how-it-works .section-title {
    margin-bottom: 1.0em;
  }

  /* Team Access */
  .the-team img {
    width: 17em;
  }

  .enter-connecta button {
    width: 35%;
  }

  .project-status {
    padding: 5em 7em;
  }
  
}